<flow-definition plugin="workflow-job@2.40">
<actions>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
<org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
<jobProperties/>
<triggers>
<string>hudson.triggers.SCMTrigger</string>
<string>hudson.triggers.TimerTrigger</string>
</triggers>
<parameters/>
<options/>
</org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
</actions>
<description>New2</description>
<keepDependencies>false</keepDependencies>
<properties>
<hudson.plugins.jira.JiraProjectProperty plugin="jira@3.2">
<siteName>https://testjira000.atlassian.net/</siteName>
</hudson.plugins.jira.JiraProjectProperty>
<org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
<triggers>
<hudson.triggers.SCMTrigger>
<spec>H/15 * * * *</spec>
<ignorePostCommitHooks>false</ignorePostCommitHooks>
</hudson.triggers.SCMTrigger>
<hudson.triggers.TimerTrigger>
<spec>H 10 * * *</spec>
</hudson.triggers.TimerTrigger>
</triggers>
</org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
</properties>
<definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.88">
<script>pipeline { agent any triggers{ cron('H 10 * * *') pollSCM('H/15 * * * *') } stages { stage('Checkout') { steps{ git branch: 'main', credentialsId: '67ccaf68-1d08-4f81-adfb-68ab6c4da0b4', url: 'https://github.com/hassen22/Selenuim' } } stage('Build') { steps { echo 'Builing ..' sh 'dotnet build XUnitTestProject.sln' } } stage('Test') { steps { echo 'Testing ..' sh 'dotnet test XUnitTestProject.sln' } } } }</script>
<sandbox>true</sandbox>
</definition>
<triggers/>
<disabled>false</disabled>
</flow-definition>